READ ME - Instructions for Data Analysis.docx
nsduh.RData
nsduh.csv
nsduh_02.dta
nsduh_03.dta
nsduh_04.dta
nsduh_05.dta
nsduh_08.dta
nsduh_09.dta
nsduh_10.dta
nsduh_11.dta
nsduh_raw.RData
nsduh_ready4analysis.RData
nsduh_ready4analysis.csv
nsduh_ready4analysis_STATA.csv
